html {
  --red: #e63e3a;
  --dark: #101820;
  --light: #fff;
  --grey: #5d646b;
  --dark-blue: #101820;
}

html {
  --nav-height: 87px;
  --font-size-logo: 18px;
  --font-size-base: 22px;
  --font-size-small: 16px;
  --font-size-big-title: 135px;
  --font-size-small-title: 82px;
  --font-size-mid-title: 112px;
  --font-size-sub-title: 38px;
  --font-size-block-title: 60px;
  --font-size-item: 50px;
}
