@import "@/assets/styles/_variables.scss";
@import "@/assets/styles/_reset.scss";
@import "@/assets/styles/_modifier.scss";

@font-face {
  font-family: "SuisseIntl-Regular";
  src:
    url("@/assets/fonts/SuisseIntl-Regular.woff2") format("woff2"),
    /* Сучасний формат */ url("@/assets/fonts/SuisseIntl-Regular.woff")
      format("woff"); /* Старіший формат для сумісності */
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "SuisseIntl-Regular", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
}

.router-view {
  height: calc(100vh - var(--header-height));
  overflow: auto;
  width: 100%;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-c {
  justify-content: center;
}

.justify-s-b {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.font-s-logo {
  font-size: var(--font-size-logo);
}
.font-s-base {
  font-size: var(--font-size-base);
}
.font-s-small {
  font-size: var(--font-size-small);
}
.font-s-big-title {
  font-size: var(--font-size-big-title);
}
.font-s-small-title {
  font-size: var(--font-size-small-title);
}
.font-s-mid-title {
  font-size: var(--font-size-mid-title);
}
.font-s-sub-title {
  font-size: var(--font-size-sub-title);
}
.font-s-block-title {
  font-size: var(--font-size-block-title);
}
.font-s-item {
  font-size: var(--font-size-item);
}
