@import "@/assets/styles/_variables.scss";
@import "@/assets/styles/_reset.scss";
@import "@/assets/styles/_modifier.scss";

@font-face {
  font-family: "SuisseIntl-Regular";
  src:
    url("@/assets/fonts/SuisseIntl-Regular.woff2") format("woff2"),
    url("@/assets/fonts/SuisseIntl-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "SuisseIntl-Regular", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  font-weight: 400;
}

.router-view {
  height: calc(100vh - var(--header-height));
  overflow: auto;
  width: 100%;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-c {
  justify-content: center;
}

.justify-s-b {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.font-s-logo {
  font-size: var(--font-size-logo);
  font-weight: 400;
}
.font-s-base {
  font-size: var(--font-size-base);
  font-weight: 400;
}
.font-s-small {
  font-size: var(--font-size-small);
  font-weight: 400;
}
.font-s-big-title {
  font-size: var(--font-size-big-title);
  font-weight: 400;
}
.font-s-small-title {
  font-size: var(--font-size-small-title);
  font-weight: 400;
}
.font-s-mid-title {
  font-size: var(--font-size-mid-title);
  font-weight: 400;
}
.font-s-sub-title {
  font-size: var(--font-size-sub-title);
  font-weight: 400;
}
.font-s-block-title {
  font-size: var(--font-size-block-title);
  font-weight: 400;
}
.font-s-item {
  font-size: var(--font-size-item);
  font-weight: 400;
}

.bg--red {
  background: var(--red);
}

.bg--dark {
  background: var(--dark);
}

.bg--light {
  background: var(--light);
}

.bg--grey {
  background: var(--grey);
}

.c--red {
  color: var(--red);
}

.c--dark {
  color: var(--dark);
}

.c--light {
  color: var(--light);
}

.c--grey {
  color: var(--grey);
}

.p-20 {
  padding: 20px;
}

.opacity-0 {
  opacity: 0;
}

.relative {
  position: relative;
}
